@using onlineShop.Products
@model onlineShopWeb.Models.CartViewModel

@{
    ViewBag.Title = "DisplayCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Status != null)
{
    @Model.Status
}

<table class="table-responsive">
    @foreach (var item in Model.CartProducts)
    {
        if (item.Key is Book)
        {
            <tr>
                <td>@Html.ActionLink(item.Key.Name, "Details", "Books", new { id = item.Key.Id }, null)</td> 
                <td> @item.Value </td> 
                <td>@Html.ActionLink("Add copy", "AddToCart", "Cart", new { id = item.Key.Id }, null)</td> 
                <td>@Html.ActionLink("Remove copy", "RemoveFromCart", "Cart", new { id = item.Key.Id }, null)</td>
                

            </tr>
        }
        else
        {
            <tr>
                <td>@Html.ActionLink(item.Key.Name, "Details", "Songs", new { id = item.Key.Id }, null)</td>
                <td> @item.Value </td>
                <td>@Html.ActionLink("Add copy", "Details", "Songs", new { id = item.Key.Id }, null)</td>
                <td>@Html.ActionLink("Remove copy", "RemoveFromCart", "Cart", new { id = item.Key.Id }, null)</td>

            </tr>
        }
    }
</table>

Total weight: @Model.TotalWeight<br>
Total price: @Model.TotalPrice<br>
