@using onlineShop.Products
@model onlineShopWeb.Models.CartViewModel

@{
    <link href="~/Content/style.css" rel="stylesheet" />
    ViewBag.Title = "DisplayCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Status != null)
{
    @Model.Status
}

<table class="table personalizeTable" >
    <tr>
        <th>
            @Html.Label("Products")
        </th>
        <th>
            @Html.Label("Number of copies")
        </th>
        <th>
            @Html.Label("")
        </th>
        <th>
            @Html.Label("")
        </th>
        <th>
            @Html.Label("Price")
        </th>
    </tr>
    @foreach (var product in Model.CartProducts)
    {
        var totalPrice = product.Value * product.Key.Price;
        <tr>
            @if (product.Key is Book)
            {
                <td>
                    <img class="icon" src="~/Assets/Images/book.png" />
                    @Html.ActionLink(product.Key.Name, "Details", "Books", new { id = product.Key.Id }, null)
                </td>
            }
            else
            {
                <td>
                    <img class="icon" src="~/Assets/Images/song.png" />
                    @Html.ActionLink(product.Key.Name, "Details", "Songs", new { id = product.Key.Id }, null)
                </td>
            }

            <td>@Html.DisplayFor(Model => product.Value)</td>
            <td>@Html.ActionLink("Add", "AddToCart", "Cart", new { id = product.Key.Id }, null)</td>
            <td>@Html.ActionLink("Remove", "RemoveFromCart", "Cart", new { id = product.Key.Id }, null)</td>
            <td>$@Html.DisplayFor(Model => totalPrice)</td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total price: </td>
        <td>$@Model.TotalPrice</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total weight: </td>
        <td>@Model.TotalWeight g</td>
    </tr>
    
</table>


