@model onlineShop.Products.Book

@{
    <link href="~/Content/style.css" rel="stylesheet" />
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <table class="table personalizeTable">
        <tr>
            <th>
                @Html.Label("Titel")
            </th>
            <th>
                @Html.Label("Author")
            </th>
            <th>
                @Html.Label("Price")
            </th>
            <th>
                @Html.Label("Genre")
            </th>
            <th>
                @Html.Label("Number of pages")
            </th>
        </tr>
        <tr>
            <td>
                <img class="icon" src="~/Assets/Images/book.png" />
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.ActionLink(Model.Author, "Index", "Search", new { searchText = Model.Author }, null)
            </td>
            <td>
                $@Html.DisplayFor(model => model.Price)
            </td>
            <td>
                @Html.DisplayFor(model => model.Genre)
            </td>
            <td>
                @Html.DisplayFor(model => model.NumberOfPages)
            </td>
        </tr>

    </table>
<p>
    @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
