@model IEnumerable<onlineShop.Products.Book>
@{
    <link href="~/Content/style.css" rel="stylesheet" />
    ViewBag.Title = "GetBooksNoCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table personalizeTable" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>
                <img class="icon" src="~/Assets/Images/book.png" />

                @Html.ActionLink(book.Name, "Details", new { id = book.Id }, null)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => book.Price)
            </td>
            <td>
                @Html.ActionLink(book.Author, "Index", "Search", new { searchText = book.Author }, null)
            </td>
            <td>
                @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = book.Id }, null)
            </td>
        </tr>
    }

</table>

