@model onlineShopWeb.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Books Genres</h3>
<ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail">
                <a href='@Url.Action("Index", "Books", new { genre = "fantasy"})' class="overlay"></a>
                <a href='@Url.Action("Index", "Books", new { genre = "fantasy"})'><img src="~/Assets/Images/fantasy.jpg" alt=""></a>
                <div class="caption cntr">
                    <p>Fantasy</p>
                    <br class="clr">
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href='@Url.Action("Index", "Books", new { genre = "fiction"})' class="overlay"></a>
                <a href='@Url.Action("Index", "Books", new { genre = "fiction"})'><img src="~/Assets/Images/fiction.jpg" alt=""></a>
                <div class="caption cntr">
                    <p>Fiction</p>
                    <br class="clr">
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail item">
                <a href='@Url.Action("Index", "Books", new { genre = "romance"})' class="overlay"></a>
                <a href='@Url.Action("Index", "Books", new { genre = "romance"})'><img src="~/Assets/Images/romance1.jpg" alt=""></a>
                <div class="caption cntr">
                    <p>Romance</p>
                    <br class="clr">
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href='@Url.Action("Index", "Books", new { genre = "self-improvment"})' class="overlay"></a>
                <a href='@Url.Action("Index", "Books", new { genre = "self-improvment"})'><img src="~/Assets/Images/self-improvment.jpg" alt=""></a>
                <div class="caption cntr">
                    <p>Self-improvment</p>
                    <br class="clr">
                </div>
            </div>
        </li>
    </ul>
    <h3>Music Genres</h3>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail">
                <a href='@Url.Action("Index", "Songs", new { genre = "electronic"})' class="overlay"></a>
                <a href='@Url.Action("Index", "Songs", new { genre = "electronic"})'><img src="~/Assets/Images/electronic.jpg" alt=""></a>
                <div class="caption cntr">
                    <p>Electronic</p>
                    <br class="clr">
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail item">
                <a href='@Url.Action("Index", "Songs", new { genre = "jazz"})' class="overlay"></a>
                <a href='@Url.Action("Index", "Songs", new { genre = "jazz"})'><img src="~/Assets/Images/jazz.jpg" height="210" alt=""></a>
                <div class="caption cntr">
                    <p>Jazz</p>
                    <br class="clr">
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href='@Url.Action("Index", "Songs", new { genre = "soundtrack"})' class="overlay"></a>
                <a href='@Url.Action("Index", "Songs", new { genre = "soundtrack"})'><img src="~/Assets/Images/soundtrack.jpg" alt=""></a>
                <div class="caption cntr">
                    <p>Soundtrack</p>
                    <br class="clr">
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <a href='@Url.Action("Index", "Songs", new { genre = "clasical"})' class="overlay"></a>
                <a href='@Url.Action("Index", "Songs", new { genre = "classical"})'><img src="~/Assets/Images/classical.jpg" alt=""></a>
                <div class="caption cntr">
                    <p>Classical music</p>
                    <br class="clr">
                </div>
            </div>
        </li>
    </ul>

